.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff; /* form background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
}

h1{
    text-align: center;
    font-family: cursive;
    font-weight: 800;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


/* whomreg design */

.regi-section {
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: space-between;
    padding: 30px; 
}

.join-as {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start; /* Align text divs to the left */
    gap: 20px;
    padding: 40px; 
    width: 50%;
    
}

.join-as div {
    width: 18rem;
    height: 10rem;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}
.join-as div h1{
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: gray;
}
.join-as div:hover{
    box-shadow: 2px 2px  rgb(184, 182, 182);
}
.join-img {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align the image to the right */
    width: 50%;
}

.join-img img {
    width: 55%;
    display: inline;
}

